################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vue-webapi-saperate/client-app/obj/Debug
/Vue-webapi-saperate/client-app/node_modules
/Vue-webapi-saperate/client-app/bin
 
